<header>
  <nav>
    <a href="/"><img alt="Logo" src="/logo.png" height="70" /></a>
    <h1><%= pageTitle %></h1>
    <ul>
      <li><a href="/">Todos</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
